*{
    margin: 0px;
    padding: 0px;
    
}
.question-show{
    margin-top: 60px;
    padding: 150px;
   margin-left: 30px;
   margin-right: 30px; 
    /* border: 2px solid red; */
     background-color: rgb(74, 74, 74);
    border-radius: 10px;
}
.question-show p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: center;
    color: white;
    font-size: 32px;
    word-spacing: 2px;
  font-weight: 600;
  line-height: 10px;
  
}
#main-container{
   
}
.abc{
    border: 10px soid red;
    background-color:#406CA9;
    width: 300px;
    height: 350px;
    margin: 30px;

   
}